<section id="restaurant show">
  <header class="row">
    <h1><%= @restaurant.name %></h1>
  </header>
  <section class="row">
    <section class="columns medium-6">
      <p><%= @restaurant.description %></p>
    </section>
    <section class="columns medium-6">
      <header>
        <h1>Comments</h1>
      </header>
      <section>
        <%= react_component("Comment", {author: "JL", body: "Great restaurant!", rank: 5}) %>        
      </section>
    </section>
  </section>
</section>
  