<article id="restaurant show">
  <header class="row">
    <h1><%= @restaurant.name %></h1>
  </header>
  <section class="row">
    <div class="columns medium-6">
      <p><%= @restaurant.description %></p>
    </div>
    <section class="columns medium-6">
      <header>
        <h1>Menu Items Test</h1>
      </header>
      <% if(params[:client]) %>
        <%= client("CommentSection", 'cs', "{restaurantId:  #{@restaurant.id},
                        comments: #{raw(render(template: 'comments/index.json.jbuilder'))}}") %>
      <% else %>
        <%= client("CommentSection", 'cs', "{restaurantId:  #{@restaurant.id},
                        comments: #{raw(render(template: 'comments/index.json.jbuilder'))}}") %>
      <% end %>

    </section>
  </section>
</article>
