<article id="restaurant show">
  <header class="row">
    <h1><%= @restaurant.name %></h1>
  </header>
  <section class="row">
    <div class="columns medium-6">
      <p><%= @restaurant.description %></p>
    </div>
    <section class="columns medium-6">
      <header>
        <h1>Comments</h1>
      </header>
      <%= isomorphic("CommentSection", 'cs', "{restaurantId:  #{@restaurant.id},
                        comments: #{raw(render(template: 'comments/index.json.jbuilder'))}}") %>


    </section>
  </section>
</article>

